body {
    color: black;
    background: #d8d8d8;
}

th {
    text-align: left;
    background: #bbb
}

.value {
    text-align: right;
}

.failed {
    color: darkred;
}

tr {
    background: #fff;
}

