body {
    color: black;
}

th {
    text-align: left;
}

.value {
    text-align: right;
}

.failed {
    color: darkred;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

